@page "/blogs"
@inherits BlogsBase
@layout AuthorizedLayout
@using BlazorPagination

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>
            Blogs
        </span>
        <span class="d-flex align-items-center">
            <span>
                <InputSelect ValueExpression="@(()=> pageParams.CategoryId)" Value="@pageParams.CategoryId" class="form-select" ValueChanged="@(async (int value) => await OnCategoryChanged(value))">
                    <option value="0">~~~ All Category ~~~</option>
                    @foreach (var option in CategoryList)
                    {
                        <option value="@option.Id">@option.Title</option>
                    }
                </InputSelect>
            </span>
            <span class="d-flex align-items-center ms-1">
                <input class="form-control me-2" @bind-value="@pageParams.SearchText" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-outline-success" type="button" onclick="@(async () => await FetchBlogs())">Search</button>
            </span>
            <button class="btn btn-sm btn-primary ms-1" onclick="@(() => OpenDetailModal(0))"><i class="bi bi-plus"></i> Create New</button>
        </span>
    </div>
    <div class="card-body">
        @if (FetchingBlogs)
        {
            <Loader />
        }
        else if (BlogList != null && BlogList.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Sub-Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Category</th>
                        <th scope="col">Last Updated</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in BlogList)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@(item.SubTitle??"")</td>
                            <td>@(item.CreatedBy?.FirstName+" "+ item.CreatedBy?.LastName)</td>
                            <td>@item.Category?.Title</td>
                            <td>@item.LastUpdated.GetValueOrDefault().ToString("dd MMM yyyy")</td>
                            <td>
                                @if (item.Editable)
                                {
                                    <button type="button" class="btn btn-sm btn-warning" onclick="@(() => OpenDetailModal(item.Id))"><i class="bi bi-pencil"></i> Edit</button>
                                }
                                @if(item.Editable||IsAdmin)
                                {
                                    <button type="button" class="btn btn-sm btn-danger ms-1" onclick="@(() => OpenDeleteModal(item.Id))"><i class="bi bi-trash"></i> Delete</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <BlazorPager CurrentPage="currentPage"
                             PageCount="totalPage"
                             OnPageChanged="(async e => {pageParams.PageNumber=e; await FetchBlogs();})"
                             ShowFirstLast="true"
                             ShowPageNumbers="true"
                             VisiblePages="10"
                             NextText=">"
                             PreviousText="<"
                             FirstText="<<"
                             LastText=">>" />
            </div>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                No items found
            </div>
        }
    </div>
</div>

<div class="modal fade" id="blogDetailModal" tabindex="-1" aria-labelledby="blogDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <EditForm Model="@SelectedBlogVM" OnValidSubmit="HandleSubmit" style="height:100%;">
            <DataAnnotationsValidator />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@DetailModalTitle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="BlogTitle">Title</label>
                                <InputText @bind-Value="@SelectedBlogVM.Title" placeholder="Enter Title" id="BlogTitle" type="text" class="form-control" @onblur="HandleInputBlur"></InputText>
                                <ValidationMessage For="@(() => SelectedBlogVM.Title)" />
                            </div>
                            <div class="form-group mt-1">
                                <label class="form-label" for="BlogSlug">Slug</label>
                                <InputText @bind-Value="@SelectedBlogVM.Slug" placeholder="Enter Title" id="BlogSlug" type="text" class="form-control"></InputText>
                                <ValidationMessage For="@(() => SelectedBlogVM.Slug)" />
                            </div>
                            <div class="form-group mt-1">
                                <label class="form-label">Blog Content</label>
                                <BlazoredTextEditor @ref="@QuillHtml" Placeholder="Write Content ...">
                                    <ToolbarContent>
                                        <select class="ql-header">
                                            <option selected=""></option>
                                            <option value="1"></option>
                                            <option value="2"></option>
                                            <option value="3"></option>
                                            <option value="4"></option>
                                            <option value="5"></option>
                                        </select>
                                        <span class="ql-formats">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                            <button class="ql-strike"></button>
                                        </span>
                                        <span class="ql-formats">
                                            <select class="ql-color"></select>
                                            <select class="ql-background"></select>
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered"></button>
                                            <button class="ql-list" value="bullet"></button>
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-link"></button>
                                        </span>
                                    </ToolbarContent>
                                    <EditorContent>
                                    </EditorContent>
                                </BlazoredTextEditor>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="BlogSubTitle">Sub Title</label>
                                <InputText @bind-Value="@SelectedBlogVM.SubTitle" placeholder="Enter Title" id="BlogSubTitle" type="text" class="form-control"></InputText>
                                <ValidationMessage For="@(() => SelectedBlogVM.SubTitle)" />
                            </div>
                            <div class="form-group mt-1">
                                <label class="form-label">Category</label>
                                <InputSelect id="selectedOption" @bind-Value="SelectedBlogVM.CategoryId" class="form-select">
                                    <option value="0">~~~ Select Category ~~~</option>
                                    @foreach (var option in CategoryList)
                                    {
                                        <option value="@option.Id">@option.Title</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => SelectedBlogVM.CategoryId)" />
                            </div>
                            <div class="form-group mt-1">
                                <label class="form-label">Banner Image</label>
                                <InputFile @key=@(inputFileId) class="form-control" OnChange="HandleFileSelection" />
                            </div>
                            <div class="form-group mt-1">
                                <label class="form-label d-block">Preview</label>
                                @if (!string.IsNullOrEmpty(ImageDataUrl))
                                {
                                    <img src="@ImageDataUrl" alt="Image Preview" class="img-fluid w-100 h-auto border border-secondary" />
                                }
                                else if (!string.IsNullOrEmpty(SelectedBlogVM.BannerImageUrl))
                                {
                                    <img src="/images/@SelectedBlogVM.BannerImageUrl" alt="Image Preview" class="img-fluid w-100 h-auto border border-secondary" />
                                }
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

<div class="modal fade" id="blogDeleteModal" tabindex="-1" aria-labelledby="blogDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Are you Sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @SelectedBlogVM.Title will be deleted permanently.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="@(() => HandleDelete())">Delete</button>
            </div>
        </div>
    </div>
</div>
